html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="shortcut icon", href="favicon.png")
        title BotLogMonitor
        style
            include behavior.css
    body
        .main 
            h1 BEHAVIOR PAGE
            p
                | Страница, где можно настроить поведение бота и ответы на заданные команды


            .load-progress-time
                span#procTime 00:00 

            .load-progress-panel
                .load-progress-line#procLine(proc=load)
            .time-table-counstructor
                .monitor-date-list
                    each el in links
                        .link-data-box
                            .link-title
                                .link-data= el.date
                                .link-content
                                    a(href=el.href)= el.href
                            table.link-info
                                tr.file-info
                                    td File: 
                                    td
                                        span= el.fs1
                                    td Modified:
                                    td 
                                        span= el.ts1
                                    td Status:
                                    td 
                                        if(el.s1 != 'ok')
                                            span.red= el.s1
                                        else
                                            span= el.s1
                                tr.file-info
                                    td File: 
                                    td
                                        a(href=el.file, target="_blank")
                                            span= el.fs2
                                    td  Modified:
                                    td 
                                        span= el.ts2
                                    td Status:
                                    td 
                                        if(el.s2 != 'ok')
                                            span.red= el.s2
                                        else
                                            span= el.s2
                



        script
            include behavior.js